/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a43931;
  border-radius: 10%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d4350;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d4350;
}

.main {
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  height: 100vh;
  background: #a43931; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #a43931,
    #1d4350
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #a43931 40%,
    #1d4350
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  overflow-y: scroll;
}

/* SIDEBAR */
/*======================================================*/
.side-bar {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  padding-top: 5vh;
  background-color: #1d4350;
  color: white;
  z-index: 10;
}

.side-bar a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  font-size: x-large;
  font-weight: bold;
  width: 100%;
}

.side-bar a:hover {
  color: white;
}

.navLink {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.active a {
  color: white;
}

/*======================================================*/

.loading {
  display: flex;
  height: 75vh;
  justify-content: center;
  align-items: center;
}

/* TOP BOX */
/*======================================================*/
.top-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 75px;
  margin: 10px 2px;
  border-radius: 15px;
  background-color: #a4393185;
  box-shadow: 2.5px 2.5px 10px black;
}

.top-box img {
  border-radius: 15px 0px 0px 15px;
  height: inherit;
}

.top-box span {
  font-size: medium;
  padding-left: 10px;
  font-weight: bold;
}

.top-box:hover {
  box-shadow: 2.5px 2.5px 15px black;
}
/*======================================================*/

/*TRACK BOX*/
/*======================================================*/
.track-box-container {
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.track-box-container::-webkit-scrollbar {
  display: none;
}
.track-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  margin: 10px 2.5px;
  padding: 10px;
  border-radius: 5px;
}
.track-box img {
  border-radius: 5px 0px 0px 5px;
  padding: 2.5px;
  height: inherit;
}
.track-box span {
  font-size: medium;
  padding-left: 25px;
  font-weight: bold;
}
.track-box div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.track-box:hover {
  background-color: #a4393185;
  box-shadow: 1px 1px 10px black;
}
/*======================================================*/

/*TOP RESULT*/
/*======================================================*/
.top-result {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: hsla(4, 54%, 42%, 0.25);
  box-shadow: 1px 1px 10px black;
  border-radius: 20px;
}
.top-result img {
  width: 50%;
  border-radius: 50%;
}
.top-result span {
  font-size: x-large;
  font-weight: bold;
}
.top-result-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/*======================================================*/

/*Album Box*/
/*======================================================*/
.album-box-container {
  height: 40vh;
  display: flex;
  background-color: hsla(4, 54%, 42%, 0.25);
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
}
.album-box {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.album-box img {
  width: 75%;
  border-radius: 5px;
}

.album-box span {
  text-align: center;
  width: 75%;
  font-size: medium;
  font-weight: bold;
  overflow: hidden;
}
/*======================================================*/

/*Artist Box*/
/*======================================================*/
.artist-box-container {
  height: 40vh;
  display: flex;
  background-color: hsla(4, 54%, 42%, 0.25);
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
}
.artist-box {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.artist-box img {
  width: 75%;
  border-radius: 50%;
}

.artist-box span {
  text-align: center;
  width: 75%;
  font-size: medium;
  font-weight: bold;
  overflow: hidden;
}
/*======================================================*/

.scroller {
  padding: 2.5vh 0 2.5vh 0;
  flex-wrap: nowrap !important;
  overflow-x: scroll;
  overflow-y: hidden;
}

.scroller::-webkit-scrollbar {
  display: none;
}

/*ALBUM VIEW*/
/*======================================================*/
.album-cover-container {
  height: 40vh;
  padding: 10px;
  background-color: hsla(195, 47%, 21%, 0.5);
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
}
.album-cover {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.album-cover img {
  height: inherit;
  border-radius: 5px;
  padding: 5px;
}
/*======================================================*/
